apparmor==4.0.3
attrs==23.2.1.dev0
Brlapi==0.8.6
btrfsutil==6.12
cffi==1.17.1
charset-normalizer==3.4.1
cloud-init==24.3.1
configobj==5.0.9
cryptography==44.0.0
docopt==0.6.2
filelock==3.16.1
gufw==24.4.0
idna==3.10
Jinja2==3.1.5
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
legacy-cgi==2.6.1
LibAppArmor==4.0.3
louis==3.32.0
lxml==5.3.0
MarkupSafe==2.1.5
netifaces==0.11.0
netsnmp-python==1.0a1
nftables==0.1
oauthlib==3.2.2
packaging==24.2
pillow==11.0.0
psutil==6.1.1
pulsemixer==1.5.1
pycairo==1.27.0
pycparser==2.22
PyGObject==3.50.0
pyserial==3.5
pywal==3.3.0
PyYAML==6.0.2
ranger-fm==1.9.4
referencing==0.35.1
Reflector==2023.6.28.0.36.1
requests==2.32.3
rpds-py==0.22.3
six==1.16.0
trash-cli==0.24.5.26
typing_extensions==4.12.2
ueberzug==18.3.1
ufw==0.36.2
urllib3==2.3.0
validate==5.0.9
wheel==0.45.0
